<div class="modal-content rounded-4 shadow ">
    <div class="modal-header border-bottom-0">
      <h1 class="modal-title fs-7">{{title}}</h1>
      <button type="button" class="btn-close" (click)="this.activeModal.close()"  aria-label="Close"></button>
    </div>
    <div class="modal-body py-0">
      <p class="lead">{{mensaje}}</p>
    </div>
    <div class="modal-footer align-items-stretch w-100 gap-2 pb-3 border-top-0">
        <button type="button" id="button" class="btn btn-md" (click)="activeModal.close('SI')">Si</button>
        <button type="button" id="button" class="btn btn-md" (click)="this.activeModal.close()" >No</button>
    </div>
  </div>
