
    
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-7">{{title}}</h1>
          <button type="button" class="btn-close" (click)="closeModal()" ></button>
        </div>
        <div class="modal-body py-0">
          <p class="lead">{{content}}</p>
        </div>
        <div class="modal-footer align-items-stretch w-100 gap-2 pb-3 border-top-0">
          @if (msg) {
            <button type="button" id="button" class="btn btn-lg" (click)="activeModal.close()">Aceptar</button>
          }@else {
            <button type="button" id="button" class="btn btn-lg" (click)="activeModal.close('cliente')">Cliente</button>
            <button type="button" id="button" class="btn btn-lg" (click)="activeModal.close('restaurante')" >Restaurante</button>
          }
        </div>
      </div>
    
  
