.navbar{
    background-color: #9eada8;
}

button{
    background-color: #e6e6e6;
}

button:hover{
    background-color: #ffffff ;
}

@media (max-width: 950px){
    img{
        width: 180px;
        height: 45px;
    }
    
}